@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-09-20 22:09:39
 * @version $Id$
 */
*{
	margin: 0;
	padding: 0;
}
body{
	height: 100%;
	width: 100%;
	background: #dcdcdc;
}
.content{
	width: 30%;
	/*margin: 0 auto;*/
	background: #fff;
	border: 1px solid black;
}
.head{
	width: 100%;
	background: #1768bb;
	height: 60px;
	position: relative;
}
.logo{
	display: block;
	width: 30px;
	height: 30px;
	background: url(images/logo.jpg);
	position: absolute;
	top: 15px;
	left: 20px;
	cursor: pointer;
}
.company{
	font-size: 23px;
	font-weight: bold;
	color: white;
	position: absolute;
	top: 18px;
	left: 60px;
	cursor: pointer;
}
.homepage{
	width: 30px;
	height: 30px;
	background: url(images/login.jpg);
	background-size:100% 100%; 
	position: absolute;
	right: 20px;
	top: 15px;
	cursor: pointer;
}
.nav{
	width: 100%;
	height: 50px;
	background: #ededed;
	padding-bottom: 3px;
}
.nav ul{
	box-sizing: border-box;
	display: inline-block;
	width: 100%;
}
.nav li{
	float: left;
	cursor: pointer;
	display: inline-block;
	text-align: center;
	width: 20%;
	line-height: 50px;
}
.nav li a{
	box-sizing: border-box;
	font-family: "微软雅黑";
	font-size: 15px;
	text-decoration: none;
	color: black;
}
.nav li:hover{	
	border-bottom:3px solid blue;
}
.nav li a:hover{
	color: #547edb;
	font-weight: bold;
}
.main{
	width: 100%;
	height: 100%;
	padding-top: 40px;
}
.main .article1{
	width: 90%;
	position: relative;
	margin-left: 5%;
}
.article1 .hr1{
	position: absolute;
	top: -25px;
	width: 60%;
	color: gray;
	margin-left: 20%;
}
.main .article1 span{
	display: inline-block;
	width: 22%;
	height: 20px;
	background: white;
	font-family: "微软雅黑";
	font-size: 15px;
	cursor: pointer;
	text-align: center;
	position: absolute;
	top: -33px;
	left: 39%;
	font-weight: bold;
}
.main .banner{
	width: 100%;
	background: url(images/zuoping.png) no-repeat;
	background-size: 100% 100%;
	height: 450px;
}
.article2{
	box-sizing: border-box;
	width: 90%;	
	margin-left: 5%;
	padding: 10px;
	border:1px solid #c0c0c0;
	margin-top: 30px;
	position: relative;
}
.article2 p{
	font-size: 13px;
	font-family: "微软雅黑";
	text-indent: 23px;
}
.article2 span{
	display: block;
	width: 100px;
	height: 30px;
	background:url(images/tag.png);
	background-size: 100% 100%;
	position: absolute;
	left: 0px;
	top: -15px;
	font-weight: bold;
	color: #fff;
	font-size: 15px;
	text-align: center;
	line-height: 30px;
	text-indent: -8px;
}
.footer{
	margin-top:20px;
	background: #353A3f;
	width: 100%;
	height: 50px;
	padding-top: 10px;
}
.footer span{	
	display: inline-block;
	width: 100%;
	color: white;
	cursor: pointer;
	text-align: center;
	font-size: 13px;
	cursor: pointer;
}
.footer span a{
	text-decoration: none;
	color: white;
	cursor: pointer;
}
.footer span a:hover{
	color: #8b4513;
}