@charset "UTF-8"
html{
    font-size: 1rem;    
}
a{
    color:black;
}
*{
	padding:0;
	margin:0;
}
div.nav{
	height:44px;
}
.lunbo{
	width:100%;  
}
.lunbo>img{
	width:100%;
}
.title{
	margin:10px auto;
}

.lesson{
	box-sizing: border-box;
	padding:0.8rem 2%;
	background: #F4F8FB;
}
.sitem{
	box-sizing: border-box;
	padding:0rem 2%;
	background: #F4F8FB;
}

.lesson>ul,.sitem>ul,.teach>ul{
	width:100%; 
}
.lesson>ul>li,.teach>ul>li,.sitem>ul>li{
	width:25%;
	float:left;
	text-align: center;
}
.lesson>ul>li>img,.teach>ul>li>img{
	height:auto;
	width:75%;
}
.lesson>ul>li>span{
	font-size: 0.9rem;
	display: block;
}
.lesson:after,.teach:after,.sitem:after{
	display: block;
	content:"";
	clear:both;
}

.sitem>ul{
	position: relative;
}
.sitem>ul>li{
	position: relative;
	padding:0.8rem 0;
	box-sizing: border-box;
	width:30%;
}
.sitem>ul>img{
	height: 158px;
    width: 37px;
    position: absolute;
    right: 23px;
    top: 40px;
}
.sitem>ul>li>img{
    height:auto;
	width:60%;
	text-align:center;
	margin-bottom: 0.5rem;
}
.sitem>ul>li:after{
	width: 37px;
    height: 6px;
    position: absolute;
    left: 99px;
    top: 44px;
    display: block;
    content: ""; 
    background-repeat: no-repeat;
    background-size: 37px 6px;
}

	

.sitem>ul>li:nth-child(2):after{
	background-image: url(../images/images/line_red.png);
}
.sitem>ul>li:nth-child(3):after{
	background-image: url(../images/images/line_orange.png);
}

.sitem>ul>li:nth-child(6):after{
	background-image: url(../images/images/line_purple.png);
}
.sitem>ul>li:nth-child(5):after{
	background-image: url(../images/images/line_blue.png);
}

.sitem>ul>li>p{
	font-size: 0.9rem;
	text-align: center;
}

.teach{
	background: #F4F8FB;
	width:100%;
	padding:0.8rem 2%;	
	box-sizing: border-box;
}
.teach>p{
	text-indent: 2rem;
	font-size: 0.9rem;
	padding: 0 2% 0.8rem 3%;
}
@media (max-width: 376px){
 	.sitem>ul>li:after{
    left: 89px;
}
.sitem>ul>img{	
    right: 19px;
}

}
 @media (max-width: 361px){
 	.sitem>ul>li:after{
    left: 85px;
    top: 41px;
}
.sitem>ul>img{
	height: 146px;
    right: 14px;
    top: 39px;
}
.teach p{
	font-size: 0.9rem;
 }
}
 @media (max-width: 321px){
.sitem>ul>img{
	height: 140px;
    right: 14px;
    top: 37px;
    width:32px;
}
.sitem>ul>li:after{
    width: 31px;
    left: 76px;
    top: 38px;
    background-size: 31px 6px;
}
}