@charset "UTF-8";
body,div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, blockquote, p,th,td{margin: 0; padding:0;}
table, td, tr, th {border-collapse:collapse;border-spacing:0}
fieldset, img { border: 0; }
address,caption,cite, code,dfn, em,strong, th,var { font-weight: normal; font-style: normal; }
li { list-style-type: none; }
ol, ul { list-style: none; }
caption,th{text-align:left}
h1, h2, h3, h4, h5, h6{font-size:100%;font-weight:normal}
q:before,q:after{content:''}
abbr,acronym{border:0}

html{
	font-size: 16px;
	word-wrap:break-word;
}
@media screen and (min-width:768px){
html{
	font-size: 32px;

}
}
.header{
	height: 3rem;
	background-color: #1768bb;
	color: white;
	box-sizing: border-box;
	padding: 0.75rem;
}
.header img{
	width: 1.5rem;
	height: 1.5rem;
	vertical-align: top;
}
.xkjy{
	height: 100%;
	float: left;
	margin-left: 10px;
	
}

.logo{
	height: 100%;
	display: inline-block;
	float: left;
	width: 1.5rem;
}
.logo_home{
	height: 100%;
	display: inline-block;
	width: 1.5rem;
	float: right;
}
.nav{
	width: 100%;
	height: 2.5rem;
	line-height: 2.5rem;
	float: left;
	background-color: #EDEDED;
	padding-bottom:3px;
	clear:both;
}
.nav li{
	width: 20%;
	text-align: center;
	float: left;
}
.nav li a{
	height: 100%;
	display: block;
	text-decoration: none;
	color: black;
}
.nav li a:hover{
	border-bottom:3px solid #1768bb;
	color: #1768bb;
}

.content{
	width: 90%;
	clear: both;
	margin: 0 auto;
}


/*学员活动作品展示*/

.student div{
	width: 30%;
	margin-top: 0.5rem;
	text-align: center;
	float: left;
	border-bottom: 1px solid #018fff;	
}

.student div a{
	width: 100%;
	height:2rem;
	line-height: 2rem;
	display: inline-block;
	text-decoration: none;
}
.student_activity a{
	color:white;
	background: #018fff;
	border-top-left-radius: 0.3rem;
	border-top-right-radius: 0.3rem;
}
.student_prdct a{
	color:#018fff;
}


.activity_items{
	clear: both;
}
.activity_items ul li{
	width: 100%;
	height: 5rem;
	padding:1rem 0;
	display: flex;
	justify-content: flex-start;
	border-bottom: 1px solid #ededed;
}
.activity_items ul li img{
	width: 7.5rem;
	height: 5rem;
}

.activity_items ul li div{
	height:5rem;
	padding-left: 1.2rem;
}

.activity_items ul li div span{
	line-height: 1.5rem;
}
.activity_items ul li div p{
	font-size: 80%;
}

.look_more{
	color:#ababab;
	line-height: 2.5rem;
	text-align: center;
}


.footer{
	width: 100%;
	height: 3rem;
	line-height: 1.2rem;
	padding-top: 0.5rem;
	text-align: center;
	background: #353a3f;
	color: white;
	clear: both;
}










@media screen and (min-width: 375px) {
    html {
        /* iPhone6的375px尺寸作为16px基准，414px正好18px大小, 600 20px */
        font-size: calc(100% + 2 * (100vw - 375px) / 39);
        font-size: calc(16px + 2 * (100vw - 375px) / 39);
    }
}
@media screen and (min-width: 414px) {
    html {
        /* 414px-1000px每100像素宽字体增加1px(18px-22px) */
        font-size: calc(112.5% + 4 * (100vw - 414px) / 586);
        font-size: calc(18px + 4 * (100vw - 414px) / 586);
    }
}
@media screen and (min-width: 600px) {
    html {
        /* 600px-1000px每100像素宽字体增加1px(20px-24px) */
        font-size: calc(125% + 4 * (100vw - 600px) / 400);
        font-size: calc(20px + 4 * (100vw - 600px) / 400);
    }
}
@media screen and (min-width: 1000px) {
    html {
        /* 1000px往后是每100像素0.5px增加 */
        font-size: calc(137.5% + 6 * (100vw - 1000px) / 1000);
        font-size: calc(22px + 6 * (100vw - 1000px) / 1000);
    }
}

/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-09-20 22:00:18
 * @version $Id$
 */
