@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-09-20 19:40:27
 * @version $Id$
 */
 body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; } 
body, button, input, select, textarea { font:12px/1.5tahoma, arial, \5b8b\4f53; } 
h1, h2, h3, h4, h5, h6{ font-size:100%; } 
address, cite, dfn, em, var { font-style:normal; } 
code, kbd, pre, samp { font-family:couriernew, courier, monospace; } 
small{ font-size:12px; } 
ul, ol { list-style:none; } 
a { text-decoration:none; } 
a:hover { text-decoration:underline; } 
sup { vertical-align:text-top; } 
sub{ vertical-align:text-bottom; } 
legend { color:#000; } 
fieldset, img { border:0; } 
button, input, select, textarea { font-size:100%; } 
table { border-collapse:collapse; border-spacing:0; }


 *{
 	padding:0;
 	margin:0;
 }

html{
	font-size: 10px;
}

body{
	font-size: 1.6rem;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.header{
	height: 5rem;
	line-height: 5rem;
	width: 100%;
	background: #1768BB;
	box-sizing: border-box;
}

.logo{
	height: 100%;
	float: left;
	display: inline-block;
}

.logo img{
	display: inline-block;
	height: 3rem;
	width: 3rem;
	margin-top: 1rem;
	margin-left: 2rem;
}

.header span{
	float: left;
	color: #fff;
	margin-left: 1rem;
	font-size: 2.1rem;
}

.logo_home{
	height: 100%;
	float: right;
}

.logo_home img{
	display: inline-block;
	width: 3rem;
	height: 3rem;
	margin-top: 1rem;
	margin-right: 2rem;
}

.nav{
	box-sizing: border-box;
	height: 5rem;
	line-height: 5rem;
	width: 100%;
	background: #EDEDED;
}

.nav ul{	
	box-sizing: border-box;
	height: 5rem;
	line-height: 5rem;
	width: 100%;
	float: left;
}

.nav li{
	height: 5rem;
	line-height: 5rem;
	box-sizing: border-box;
	display: inline-block;
	float: left;
	width: 20%;
	text-align: center;
}

.nav a{
	color: black;
}

.nav li:hover{
	border-bottom: 4px solid blue;
}

.nav li:hover a{
	text-decoration: none;
}

.content{
	width: 100%;
}

.banner img{
	height: 100%;
	width: 100%;
	max-width: 100%;
	max-height: 100%;
}

.title_up{
	height: 20rem;
	width: 100%;
}

.title_up a{
	text-decoration: none;
}

.title_up p{
	height: 5rem;
	width: 100%;
	background: #fff;
	line-height: 5rem;
	float: left;
	text-align: center;
}

.title_up span{
	margin: 0 .3rem;
}

.title_up p:before{
	vertical-align: middle;
	content:"";
	display: inline-block;
	height: .2rem;
	width: 6.5rem;
	background: #ccc;
}

.title_up p:after{
	vertical-align: middle;
	content:"";
	display: inline-block;
	height: .2rem;
	width: 6.5rem;
	background: #ccc;
}

.title_up ul{
	clear:both;
	height: 15rem;
	width: 100%;
	background: #F4F8FB;
}

.title_up li{
	display: block;
	float: left;
	height: 15rem;
	width: 25%;
	text-align: center;
}

.title_up a{
	display: block;
	margin-top: 3rem;
}

.title_up img{
	display: inline-block;
	height: 7rem;
	width: 7rem;
}

.title_up li span{
	display: block;
	font-size: 1.4rem;
}

.title_main{
	height: 33rem;
	width: 100%;
	background:#F4F8FB;
	position: relative;
}

.title_main p{
	height: 5rem;
	width: 100%;
	background: #fff;
	line-height: 5rem;
	float: left;
	text-align: center;
}

.title_main span{
	margin: 0 .3rem;
}

.title_main p:before{
	vertical-align: middle;
	content:"";
	display: inline-block;
	height: .2rem;
	width: 6.5rem;
	background: #ccc;
}

.title_main p:after{
	vertical-align: middle;
	content:"";
	display: inline-block;
	height: .2rem;
	width: 6.5rem;
	background: #ccc;
}

.title_main_up{
	height: 13rem;
	width: 100%;
	clear:both;
	background: #F4F8FB;
}

.title_main_up a{
	text-decoration: none;
}

.title_main_up li{
	display: inline-block;
	height: 13rem;
	width: 30%;
	float: left;
	text-align: center;
	margin-top: 1rem;
}

.title_main_up li img{
	display: inline-block;
	height: 5rem;
	width: 5rem;
	border:.2rem solid #cdcdcd;
	border-radius: 100%;
}

.title_main_up li small{
	display: block;
	font-size: 1.4rem;
	color: black;
}

.title_main_up li span{
	display: block;
	font-size: 1.4rem;
	color: black;
}

.title_main_bottom{
	height: 13rem;
	width: 100%;
	background: #F4F8FB;
}

.title_main_bottom li{
	display: inline-block;
	height: 13rem;
	width: 30%;
	float: left;
	text-align: center;
	margin-top: 1rem;
}

.title_main_bottom li img{
	display: inline-block;
	height: 5rem;
	width: 5rem;
	border:.2rem solid #cdcdcd;
	border-radius: 100%;
}

.title_main_bottom li small{
	display: block;
	font-size: 1.4rem;
	color: black;
}

.title_main_bottom li span{
	display: block;
	font-size: 1.4rem;
	color: black;
}

.line_red{
	height: 4%;
	width: 12%;
	background: url(../images/line_red.png) no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 24%;
	top: 24%;
}

.line_orange{
	height: 4%;
	width: 12%;
	background: url(../images/line_orange.png) no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 54%;
	top: 24%;
}

.line_blue{
	height: 4%;
	width: 12%;
	background: url(../images/line_blue.png) no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 24%;
	top: 66%;
}

.line_purple{
	height: 4%;
	width: 12%;
	background: url(../images/line_purple.png) no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 54%;
	top: 66%;
}

.line_green{
	height: 48%;
	width: 15%;
	background: url(../images/line_green.png) no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 87%;
	top: 23%;
}

.title_footer{
	height: 43rem;
	width: 100%;
	clear: both;
	background: #F4F8FB;
}

.title_footer p{
	height: 5rem;
	width: 100%;
	background: #fff;
	line-height: 5rem;
	float: left;
	text-align: center;
}

.title_footer span{
	margin: 0 .3rem;
}

.title_footer p:before{
	vertical-align: middle;
	content:"";
	display: inline-block;
	height: .2rem;
	width: 6.5rem;
	background: #ccc;
}

.title_footer p:after{
	vertical-align: middle;
	content:"";
	display: inline-block;
	height: .2rem;
	width: 6.5rem;
	background: #ccc;
}

.xunke{
	width: 100%;
	font-size: 1.3rem;
	clear: both;
}

.xunke span{
	display: inline-block;
	width: 95%;
	text-indent: 2.6rem;
	margin-left: 5%;
}

.title_footer{
	height: 20rem;
	width: 100%;
}

.title_footer a{
	text-decoration: none;
}

.title_footer ul{
	height: 11rem;
	width: 100%;
	background: #F4F8FB;
}

.title_footer li{
	display: inline-block;
	height: 11rem;
	width: 25%;
	float: left;
	text-align: center;
	margin-top: 1rem;
}

.title_footer a{
	margin:0;
}

.title_footer li img{
	display: inline-block;
	height: 5rem;
	width: 5rem;
	border:.2rem solid #cdcdcd;
	border-radius: 100%;
}

.title_footer li small{
	display: block;
	font-size: 1.4rem;
	color: black;
}

.title_footer li span{
	display: block;
	font-size: 1.4rem;
	color: black;
}

.footer{
	height: 5rem;
	width: 100%;
	background: #353A3F;
	font-size: 1.4rem;
	text-align: center;
	color: #fff;
	clear: both;
}

.footer ul{
	height: 2rem;
	display: block;
	margin:0 auto;
	text-align: center;
}

.footer li{
	display: inline-block;
}

.footer a{
	color: #fff;
	font-size: 1.4rem;
}