@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-09-25 16:31:51
 * @version $Id$
 */
.content{
	width: 100%;
}
.article1 ul li{
	font-size: 10px;
	line-height: 16px;
}
.article1 .ul1{
	width: 42%;
	top: 14%;
	left: 21%;
}
.article1 .ul2{
	width: 42%;
	top: 55%;
	left: 9%;
}
.article1 .ul3{
	width: 42%;
	top: 38%;
	left: 52%;
}
.article1 .img2{
	top: 48%;
	left: 8%;
	height: 40%;
	width: 42%;
}
.article3 ul{
	width: 72%;
	font-size: 10px;
	line-height: 18px;
}
.article3 .chen img{
	width: 28%;
}
.article3 .xiao img{
	width: 28%;
}
.article3 .chenx img{
	width: 28%;
}
.point small{
	width: 150px;
	height: 120px;
	text-indent: 26px;
	line-height: 20px;
}
.point small:nth-of-type(1){
	right: 2px;
}
.point small:nth-of-type(2){
	left: 5px;
}
.point small:nth-of-type(3){
	right: 2px;
}
.article5>div:nth-of-type(5){
	left: 77%;
	top: 5%;
}
.article6>span{
	width: 30%;
	left: 35%;
}
.article7 span{
	width: 30%;
	left: 35%;
}