@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-09-17 14:55:04
 * @version $Id$
 */
*{
	margin: 0;
	padding: 0;
}
body{
	height: 100%;
	width: 100%;
	background: #dcdcdc;
}
.content{
	width: 30%;
	/*margin: 0 auto;*/
	background: #fff;
	border: 1px	 solid black;
}
.head{
	width: 100%;
	background: #1768bb;
	height: 60px;
	position: relative;
}
.logo{
	display: block;
	width: 30px;
	height: 30px;
	background: url(images/logo.jpg);
	position: absolute;
	top: 15px;
	left: 20px;
	cursor: pointer;
}
.company{
	font-size: 23px;
	font-weight: bold;
	color: white;
	position: absolute;
	top: 18px;
	left: 60px;
	cursor: pointer;
}
.homepage{
	width: 30px;
	height: 30px;
	background: url(images/login.jpg);
	background-size:100% 100%; 
	position: absolute;
	right: 20px;
	top: 15px;
	cursor: pointer;
}
.nav{
	width: 100%;
	height: 50px;
	background: #ededed;
	padding-bottom: 3px;
}
.nav ul{
	box-sizing: border-box;
	display: inline-block;
	width: 100%;
}
.nav li{
	float: left;
	cursor: pointer;
	display: inline-block;
	text-align: center;
	width: 20%;
	line-height: 50px;
}
.nav li a{
	display: inline-block;
	height: 20px;
	box-sizing: border-box;
	font-family: "微软雅黑";
	font-size: 15px;
	text-decoration: none;
	color: black;
}
.nav li:hover{	
	border-bottom:3px solid blue;
}

.nav li a:hover{
	color: #547edb;
	font-weight: bold;
}
.main{
	position: relative;
	width: 100%;
	/*height: 700px;*/
	
}
.hr1{
	position: absolute;
	top: -20px;
	width: 60%;
	color: gray;
	margin-left: 20%;
}
.article1{
	margin-bottom: 80px;
}
.article1 span{
	display: inline-block;
	width: 25%;
	height: 20px;
	background: white;
	font-family: "微软雅黑";
	font-size: 15px;
	cursor: pointer;
	text-align: center;
	position: absolute;
	top: -30px;
	left: 37%;
}
.article1 small{
	display: block;
	text-indent: 20px;
	width: 90%;
	margin: 0 auto;
	margin-top:40px; 
	line-height: 20px;
	cursor: pointer;
}
.article1{

}
.article1 small:hover{
	color: green;
}
.teacher {
	margin-top: 5px;
	display: inline-block;
	width: 100%;
	height: 100px;
}
.teacher li{
	width: 25%;	
	float: left;
	list-style: none;
	/*text-align: center;*/
}
.teacher li img{
	display:block;
	margin:0 auto; 
	width: 50px;
	height: 50px;
	border-radius: 100%;
	border: 2px solid gray;
}
.article1 p{
	display: inline-block;
	height: 10px;
	width: 100%;
	text-align: center;
	margin-top: 10px;
	color: black;
	font-weight: bold;
}
.article1 p:hover{
	color: green;
}
.article1 ul li small{
	display: inline-block;
	margin-top: 0px;
	color: black;
}
.teacher .small1{
	margin-left: 3px;
}
.people{
	width: 90%;
	margin: 0 auto;
	height: 180px;
	margin-top: 10px;
	position: relative;
}
.people img{
	display: block;
	width: 50%;
	height: 85%;
	margin-left: 40px;
}
.tiaojian{
	display: block;
	float: left;
	list-style: none;
	position: absolute;
	top: 10px;
	left: 0px;
}
.tiaojian li{
	margin-bottom: 23px;
	font-size: 10px;
	cursor: pointer;
}
.tiaojian li:hover{
	font-weight: bold;
}
.tiaojian li:nth-of-type(1){
	color: #94d382;
}
.tiaojian li:nth-of-type(2){
	color: #F7CD5D;
}
.tiaojian li:nth-of-type(3){
	color: #67CDFD;
}
.tiaojian li:nth-of-type(4){
	color: #F48C81;
}
.jingyan{
	display: block;
	float: right;
	list-style: none;
	position: absolute;
	top: 10px;
	right: 10px;
	width: 60%;
	cursor: pointer;
}
.jingyan li{
	margin-bottom: 23px;
	float: right;
	font-size: 10px;

}
.jingyan li:nth-of-type(1):hover{
	color: #94d382;
}
.jingyan li:nth-of-type(2):hover{
	color: #F7CD5D;
}
.jingyan li:nth-of-type(3):hover{
	color: #67CDFD;
}
.jingyan li:nth-of-type(4):hover{
	color: #F48C81;
}
.article1 h5{
	position: absolute;
	top: 380px;
	left: 123px;
}
[class*="hrl"]{
	position: absolute;
}
.hrl1{
	width: 20px;
	top: 16px;
	left: 36px;
}
.hrl2{
	width: 40px;
	top: 52px;
	left: 36px;
}
.hrl3{
	width: 63px;
	top: 90px;
	left: 36px;
}
.hrl4{
	width: 86px;
	top: 127px;
	left: 36px;
}
.hrl5{
	width: 33px;
	top: 16px;
	right: 124px;
}
.hrl6{
	width: 45px;
	top: 52px;
	right: 134px;
}
.hrl7{
	width: 30px;
	top: 90px;
	right: 172px;
}
.hrl8{
	width: 15px;
	top: 127px;
	right: 209px;
}

.article2{
	width: 100%;
}
.article2 span{
	display: inline-block;
	width: 25%;
	height: 20px;
	background: white;
	font-family: "微软雅黑";
	font-size: 15px;
	cursor: pointer;
	text-align: center;
	position: absolute;
	top: 400px;
	left: 37.5%;
}
.hr6{
	position: absolute;
	top: 410px;
	width: 50%;
	color: gray;
	margin-left: 25%;
}
.article2 ul{
	width: 90%;
	display: block;
	list-style: none;
	margin-left: 5%;
	margin-top: 40px;
	/*position: absolute;
	top: 50px;
	left: 5%;*/

}
.article2 ul li{
	margin-bottom: 10px;
}
.article2 ul li p{
	display: inline-block;
	line-height: 30px;
	width: 100%;
	height: 30px;
	background: #c0c0c0;
	/*margin-bottom: 20px;*/
	border-radius: 3px;
	font-weight: bold;
	position: relative;
	cursor: pointer;
	text-indent: 10px;
}
.article2 ul li p:hover{
	color: #bb4513;
}
.article2 ul li p:after{
	content: "";
	display: block;
	width: 30px;
	height: 30px;
	/*background: #238af3;*/
	position: absolute;
	top: 0px;
	right: 0px;
	border-radius: 3px;
	background: url(images/add-icon1.jpg);
	background-size: 100% 100%;
}
.article2 ul small{
	display: none;
	width: 100%;
/*	height: 60px;*/
	background: lightgray;
	box-sizing: border-box;
	padding: 10px 20px 10px 10px;
}
.article2 .show{display: block;}
.hide{display: none;}
.footer{
	background: #353A3f;
	width: 100%;
	height: 50px;
	padding-top: 10px;
	margin-top: 20px;
	/*position: absolute;
	bottom: 20px;*/
}
.footer span{	
	display: inline-block;
	width: 100%;
	color: white;
	cursor: pointer;
	text-align: center;
	font-size: 13px;
	cursor: pointer;
}
.footer span a{
	text-decoration: none;
	color: white;
	cursor: pointer;
}
.footer span a:hover{
	color: #8b4513;
}
.selected{
	/*background: red;*/
	border-bottom: 3px solid blue;
}
.Customer{
	width:70px;
	height:110px;
	background:url(images/ico-kf.png) no-repeat 0 0 ;
	animation:animate 3s steps(32) infinite;/*2310/70-1=32*/
	position: fixed;
	top: 38%;
	right: 2%;
	/*border: 1px solid black;*/
}
@keyframes animate{
	0%{background-position:-2240px 0;}
	100%{background-position:0 0;}
