@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-09-20 15:29:45
 * @version $Id$
 */
.content{
	width: 100%;
}
.article3 .ul1{
	left: 0px;
}
.article3 .ul2{
	right: 0px;
}