@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-09-20 16:13:13
 * @version $Id$
 */
.content{
	width: 100%;
}
.article3 .ul1{
	left: 130px;
}
.article3 .ul2{
	right: 130px;
}