@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-09-17 10:02:03
 * @version $Id$
 */
.content{
	width: 100%;
}
.content{
	width: 100%;
}
.article1{
	width: 82%;
}
.article1 ul{
	top: 6%;
	left: 5%;
}