/*
* @Author: Administrator
* @Date:   2017-09-21 16:09:56
* @Last Modified by:   Administrator
* @Last Modified time: 2017-10-09 13:48:32
*/
html{
	font-size:65%;
}
 .box{

     	width:100%;
     	
     	
     	/* height:1000px; */
     	
     }
  *{
  	padding:0;
  	margin: 0;
  	list-style: none;
     box-sizing:border-box;
     text-decoration:none; 
     -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
  a{
    color:#161616;
  }
  .box .head{
    height:50px;
    width: 100%;
    background:#1768BB;
  }
  .box .head img{
  	width:3rem;
  	height:3rem;
  	margin-top:6px;
    


  }
  .box .head ._head{
   width:90%;
   height:50px;
   margin:0 auto;



  }
  .box .head .logo{
  	float:left;
  }
 .box .head .logo span{
 	display: inline-block;
 	height:50px;
 	line-height:50px;
 	font-size:2rem;
 	color:#FFFFFF;
 	vertical-align:top;
 	margin-left:10px;
 	
 }

 .box .head ._head .house{
  float:right;

 }
 .box .center{
	height: 50px;
	width: 100%;
	background: #EDEDED;
}

.box .center ul{
	height: 50px;
	width: 100%;
    position:absolute;
}
.box .center ul li{
	float:left;
	text-align: center;
	font-size: 1.6rem;
	width: 20%;
	height: 50px;
	line-height: 50px;
}
.box .center ul li:nth-child(5){

border-bottom: 3px solid #0F3AF9;


}
.box .center ul li a{
  display: inline-block;
  width:100%;
  height:100%;
  cursor:pointer;

}
/* .box .center ul li:nth-child(2){
	border-bottom: 3px solid #0F3AF9;
} */

/*.box .center ul li a:hover{

border-bottom: 3px solid #0F3AF9;

 
}*/


/*banner 部分*/

.box .banner{
  width:100%;
  height:15rem;
  


} 
.box .banner img{
  width:100%;
  height:100%;


}



/* 横线部分 */


.box .allxian{
  width:100%;
  height:50px;
 


}
.box .allxian ._allxian{
	width:60%;
	height:50px;
	margin:0  auto;
	text-align: center;
}
.box .allxian .xian{
	display: inline-block;
	
    width:25%;
    border-bottom:1px solid #999797;
    position: relative;
    bottom:0.4rem;


}
.box .allxian span:nth-child(2){
     display:inline-block;
      height:50px;
      line-height:50px;
	font-size:1.6rem;

	

}

.box .tell{
   height:15rem;
   width: 100%;
   background:#F4F8FB; 
  font-size:1.3rem;
  color:#2F2F2F;

}


/*优势介绍*/


.box .advantage{
  height:25rem;
  width:100%;
  


}
.box .advantage ul{
  width:90%;
  margin:0 auto;


}
.box .advantage ul li{
  height:3rem;
 width:100%;
 background:#C0BDBD;
  margin-top:1rem;
  border-radius:0.4rem;
  line-height:3rem;
  font-size:1.4rem;


}
.box .advantage ul li span{

margin-left:0.5rem;

}
.box .advantage ul li div{
  display:inline-block;	
 width:3rem;
 height: 3rem;
 float:right;
 background:url(迅科公司移动端平台切图/公司简介/icon_jia.png);
 background-size:3rem 3rem;
 cursor:pointer; 

}
.box .advantage ul li:nth-child(1){
	margin-top:0;
/*	 height:6rem;
 width:100%;*/
}
.box .advantage ul .advantage_b{
height:6rem;
width:100%;
background:#CFCDCD;
padding-left:0.5rem;
font-size:1.3rem;
color:#444343;
display:none;


}
.box .advantage ul .advantage_b:nth-of-type(1){
  display:block;
}

.box .number{
 height:6rem;
 width:100%;
 background:#238AF3;


}

.box .number .number-left{

	width:50%;
	height:6rem;
	float:left;
}
.box .number .number-left ul{
 /* padding-left:1rem;*/

}


.box .number .number-left ul .tel{
  width:100%;
  height:3rem;

}

.box .number .number-left ul .tel span{
   display:inline-block;
  width:1.9rem;
  height:1.9rem;
  border-radius:100%;
  background:url(迅科公司移动端平台切图/公司简介/icon_tel.png);
 background-size:100% 100%;
  float: left;
  margin-left:0.5rem;
  margin-top:0.5rem;

 
}
.box .number ul li a{

	float:left;
	margin-left:0.5rem;
	margin-top:0.8rem;
   color:#FFFFFF;
}


.box .number .number-left ul .email span{
   display:inline-block;
  width:1.9rem;
  height:1.9rem;
  border-radius:100%;
  background:url(迅科公司移动端平台切图/公司简介/icon_ima.png);
 background-size:100% 100%;
 float: left;
  margin-left:0.5rem;
  margin-top:0.5rem;


}
.box .number .number-right ul .qq{

	width:100%;
  height:3rem;
}
.box .number .number-right ul .qq span{
   display:inline-block;
  width:1.9rem;
  height:1.9rem;
  border-radius:100%;
  background:url(迅科公司移动端平台切图/公司简介/icon_qq.png);
 background-size:100% 100%;
 float: left;
  
  margin-top:0.5rem;



}
.box .number .number-right ul .web span{
   display:inline-block;
  width:1.9rem;
  height:1.9rem;
  border-radius:100%;
  background:url(迅科公司移动端平台切图/公司简介/icon_home.png);
 background-size:100% 100%;
 float: left;
  
  margin-top:0.5rem;


}
.box .number .number-right{

	width:50%;
	height:6rem;
	float: right;
}
.box .footer{
	height:5rem;
	width:100%;
	background:#353A3F;
	
}
.box .footer .footer1{
	width:50%;
	height:100%;
	margin:0 auto;
	padding-top:2.5%;
	text-align:center;
}
.box .footer .footer1 span a{
	color: #FFFFFF;
	font-size:1.2rem;
	margin-left:1rem;
	
}
.box .footer .footer1 span{
	color: #FFFFFF;
	font-size:1.2rem;
}


