/*
* @Author: Administrator
* @Date:   2017-09-22 12:10:28
* @Last Modified by:   Administrator
* @Last Modified time: 2017-10-02 15:56:19
*/

html {
    font-size: 65%;
}

.box {

    width: 100%;


    /* height:1000px; */
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.box .head {
    height: 50px;
    width: 100%;
    background: #1768BB;
}

.box .head img {
    width: 3rem;
    height: 3rem;
    margin-top: 6px;
}

.box .head ._head {
    width: 90%;
    height: 50px;
    margin: 0 auto;
}

.box .head .logo {
    float: left;
}

.box .head .logo span {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    font-size: 2rem;
    color: #FFFFFF;
    vertical-align: top;
    margin-left: 10px;
}

.box .head ._head .house {
    float: right;
}

.box .center {
    height: 50px;
    width: 100%;
    background: #EDEDED;
}

.box .center ul {
    height: 50px;
    width: 100%;
    position: absolute;
}

.box .center ul li {
    float: left;
    text-align: center;
    font-size: 1.6rem;
    width: 20%;
    height: 50px;
    line-height: 50px;
}


/* .box .center ul li:nth-child(2){
	border-bottom: 3px solid #0F3AF9;
} */

.box .center ul li:hover {

    border-bottom: 3px solid #0F3AF9;
}


/* 横线部分 */

.box .allxian {
    width: 100%;
    height: 50px;
}

.box .allxian ._allxian {
    width: 60%;
    height: 50px;
    margin: 0 auto;
    text-align: center;
}

.box .allxian .xian {
    display: inline-block;

    width: 25%;
    border-bottom: 1px solid #999797;
    position: relative;
    bottom: 0.4rem;
}

.box .allxian span:nth-child(2) {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    font-size: 1.6rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.box .fang {

    width: 90%;
    height: 16rem;
    margin: 2rem auto 0;
}

.box .fang .fang-left {
    float: left;
    width: 40%;
    height: 100%;
}

.box .fang .fang-left img {

    width: 100%;
    height: 100%;
}

.box .fang .fang-right {
    float: right;
    padding-left: 1rem;
    width: 60%;
    height: 100%;
    font-size: 1.4rem;
}

.box .fang .fang-right ul li {

    margin-top: 0.8rem;
}

.box .fang .fang-right ul li:nth-child(1) {

    margin: 0;
    padding-left: 2.5rem;
}

.box .fang .fang-right ul li:nth-child(2) {
	padding-left: 2.5rem;
}

.box .fang .fang-right ul li:nth-child(3) {
	padding-left: 2.5rem;
}
.box .intro{
 width:90%;
 margin:0 auto;
 height:18rem;
 background:#C5FCFE;
 font-size:1.4rem;
 padding-top: 0.8rem;
 padding-left:0.5rem;


}
.box .intro ul li{

margin-top:0.5rem;

}
.box .intro ul li:nth-child(1){

	margin-top:0;
}
.box .want{

	height:9rem;
	width:90%;
	margin: 0 auto;
	background:#C5FCFE;
	font-size:1.4rem;
	padding-top:0.5rem;
	padding-left: 0.5rem;
}
.box .want ul li{
	margin-top: 0.5rem;
}
.box .want ul li:nth-child(1){
	margin: 0;
}
.box .word{
     height:3.5rem;
     width:90%;
    font-size:1.3rem; 
    margin: 0 auto;

   }
  .box .word div:nth-child(1){
  float: left;
  height:3.5rem;
  line-height:3.5rem;
  color:#AEACAC;


  } 
  .box .word div:nth-child(2){
  float: right;
 height:3.5rem;
  line-height:3.5rem;

  } 


  .box .footer{
	height:5rem;
	width:100%;
	background:#353A3F;
	
	
}
.box .footer .footer1{
	width:50%;
	height:100%;
	margin:0 auto;
	padding-top:2.5%;
	text-align:center;
}
.box .footer .footer1 span a{
	color: #FFFFFF;
	font-size:1.2rem;
	margin-left:1rem;
	
}
.box .footer .footer1 span{
	color: #FFFFFF;
	font-size:1.2rem;
}	



@media screen and (max-width:320px) {
.box .intro{
	font-size:1.2rem;
	height:16rem;
}	
.box .fang .fang-right{
	font-size:1.3rem;
}
.box .want {

	font-size:1.2rem;
}

	
}