/*
* @Author: Administrator
* @Date:   2017-09-21 21:54:26
* @Last Modified by:   Administrator
* @Last Modified time: 2017-10-02 15:56:44
*/
html{
	font-size:65%;
}
 .box{

     	width:100%;
     	
     	
     	/* height:1000px; */
     	
     }
  *{
  	padding:0;
  	margin: 0;
  	list-style: none;
     box-sizing:border-box;
     text-decoration:none; 
     -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
  .box .head{
    height:50px;
    width: 100%;
    background:#1768BB;
  }
  .box .head img{
  	width:3rem;
  	height:3rem;
  	margin-top:6px;
    


  }
  .box .head ._head{
   width:90%;
   height:50px;
   margin:0 auto;



  }
  .box .head .logo{
  	float:left;
  }
 .box .head .logo span{
 	display: inline-block;
 	height:50px;
 	line-height:50px;
 	font-size:2rem;
 	color:#FFFFFF;
 	vertical-align:top;
 	margin-left:10px;
 	
 }
 .box .head ._head .house{
  float:right;

 }
 .box .center{
	height: 50px;
	width: 100%;
	background: #EDEDED;
}

.box .center ul{
	height: 50px;
	width: 100%;
    position:absolute;
}
.box .center ul li{
	float:left;
	text-align: center;
	font-size: 1.6rem;
	width: 20%;
	height: 50px;
	line-height: 50px;
}
/* .box .center ul li:nth-child(2){
	border-bottom: 3px solid #0F3AF9;
} */

.box .center ul li:hover{

border-bottom: 3px solid #0F3AF9;

}
/* 横线部分 */


.box .allxian{
  width:100%;
  height:50px;
 


}
.box .allxian ._allxian{
	width:60%;
	height:50px;
	margin:0  auto;
	text-align: center;
}
.box .allxian .xian{
	display: inline-block;
	
    width:25%;
    border-bottom:1px solid #999797;
    position: relative;
    bottom:0.4rem;


}
.box .allxian span:nth-child(2){
     display:inline-block;
      height:50px;
      line-height:50px;
	font-size:1.6rem;
	margin-left:0.5rem;
	margin-right:0.5rem;
	

}

.box .tell{
   height:15rem;
   width: 100%;
   background:#F4F8FB; 
  font-size:1.3rem;
  color:#2F2F2F;

}
.box .actitive{
height:20rem;
width:90%;

margin:0 auto;
}

.box .actitive2{
height:20rem;
width:90%;

margin:1rem auto 0;
}


.box .actitive span{
	display:inline-block;
	width: 40%;
	float: left;
	font-size:1.3rem;
	color:#4E4D4D;
}
.box .actitive img{

 width:60%;
 height: 20rem;

}
.box .actitive2 span{
	display:inline-block;
	width: 40%;
	float: right;
	padding-left:0.5rem;
	font-size:1.3rem;
	color:#4E4D4D;
}
.box .actitive2 img{

 width:60%;
 height: 20rem;

}
.box .game{
    height:5rem;
	width:90%;
	font-size:1.3rem;
	color:#4E4D4D;

margin:1rem auto 0.5rem;
}
.box .running ul{
	
  width:90%;
  margin:0 auto;



}
.box .running img{

 width:100%;
 height: 100%;

}

.box .running ul li{

width:45%;
height:13rem;


margin:0.5rem;
float: left;


}
.box .year{

	width:90%;
	margin:0 auto;
	font-size:1.3rem;
	color:#4E4D4D;
}



.box .footer{
	height:5rem;
	width:100%;
	background:#353A3F;
	margin-top:0.5rem;
	
}
.box .footer .footer1{
	width:50%;
	height:100%;
	margin:0 auto;
	padding-top:2.5%;
	text-align:center;
}
.box .footer .footer1 span a{
	color: #FFFFFF;
	font-size:1.2rem;
	margin-left:1rem;
	
}
.box .footer .footer1 span{
	color: #FFFFFF;
	font-size:1.2rem;
}

